[submodule "pcb"]
	path = pcb
	url = https://github.com/KisonHe/HoloCube-PCB
[submodule "tools/mcu_font_tool"]
	path = tools/mcu_font_tool
	url = https://github.com/KisonHe/mcu_font_tool
[submodule "lib/button"]
	path = lib/button
	url = https://github.com/KisonHe/button
