[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "components/lvgl/lvgl_esp32_drivers"]
	path = components/lvgl/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers
